.see-all-container {  
    /* padding-top: 100px;   */
    padding-bottom: 100px;
    width: 100%;
} 

.see-all {
    width: 100%;
}

.see-all .banner {
    height: 370px;
    min-height: 0;
    /* background-attachment: fixed; */
    background-position: center;
}

.see-all-title {
    /* height: 40px;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 90;
    bottom: 20px;
    /* margin-bottom: 30px; */
}

.see-all-title .slider-head-title { 
    font-size: 45px;
    letter-spacing: 7px;
}

.see-all-title .page-number {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 5px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.see-all_movies {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px; 
    /* background-color: aliceblue; */
    min-height: 100vmin; 
    margin: 0 auto;
}

.see-all_movies a {
    display: inherit;
}