.see-all-container {  
    /* padding-top: 100px;   */
    padding-bottom: 100px;
    width: 100%;
} 

.see-all {
    width: 100%;
}

.see-all .banner {
    height: 240px;
    min-height: 0;
    /* background-attachment: fixed; */
    background-position: center;
}

.see-all-title {
    /* height: 40px;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 90;
    bottom: -40px;
    /* margin-bottom: 30px; */
}

.see-all-pages {
    width: 75%;
    margin: 15px auto 0; 
    padding-bottom: 10px; 
    display: flex;
    justify-content: right;
    align-items: center;
}

.see-all-pages > span,
.see-all-pages .page-icon {
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    user-select: none;
    /* background-color: #fff; */
    padding: 0 5px;
    margin: 0 5px; 
    height: 30px;
    width: 30px;
    border-radius: 5px;
    font-weight: lighter; 
}

.see-all-pages .page-icon {
    font-size: 27px;
}

.see-all-pages > span.current {
    color: #149ae7;
    font-weight: 600; 
}

.see-all-pages > span:hover,
.see-all-pages .page-icon:hover {
    background: linear-gradient(135deg, #1917818a, #4718853e);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
    transition: 0.1s ease;
}

.see-all-title .slider-head-title { 
    font-size: 45px;
    letter-spacing: 7px;
}

.see-all-title .page-number {
    /* margin-top: 10px; */
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 5px;
    user-select: none;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.see-all_movies {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px; 
    /* background-color: aliceblue; */
    min-height: 100vmin; 
    margin: 0 auto;
}

.see-all_movies a {
    display: inherit;
}