.container-detail {
    width: 100%;
    min-height: 100vmin;
    /* position: relative; */
}

.container-detail .banner-content {
    width: 75%;
}

/* .banner-content .banner-info-button{
    margin: 5px 0 0;
} */

.banner-info-tag {
    margin-top: 20px;
}

.button-stats {
    position: absolute;
    top: 100px;
    z-index: 90;
}

.button-state { 
    letter-spacing: 2px;
    user-select: none; 
    background: linear-gradient(135deg, #06182b83, #06182b5b); 
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    border-radius: 50px;
}

.button-state.active {
    background: linear-gradient(135deg, #3498dba2, #1d5981a9); 
}
 
.detail-seasons {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* padding: 15px 10px;  */
    overflow-x: hidden;
    overflow-y: auto; 
}

.detail-seasons .banner-info-tag-genre {
    display: block;
    min-width: 150px;
    text-align: center;
    margin: 10px 5px;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s linear;
    background: none; 
}

.detail-seasons .banner-info-tag-genre.current {
    background: #fff;
    color: #000;
    transition: 0.1s linear;
}

.detail-seasons .banner-info-tag-genre:hover {
    background: #fff;
    color: #000;
    transition: 0.1s linear;
}

/* .series { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
} */

.container-detail .see-all_movies {
    min-height: 0;
}

.container-detail .slider-head {
    justify-content: center;
}

.container-detail .slider-head span {
    font-size: 40px;
    letter-spacing: 10px;
}

.container-detail .container {
    margin-bottom: 50px;
}

.container-detail .container .season {
    margin-bottom: 70px;
}

.banner-info .banner-info-button {
    display: flex;
    align-items: center;
} 

/* .banner-info-button .banner-info-watch.favourite {
    background-color: #ffffff00;
    box-shadow: none;
} */

.banner-info-button .banner-info-watch.favourite .icon {
    /* font-size: 40px; */
    /* color: #fff; */
}

.banner-info-button .banner-info-watch.favourite .icon.red {
    color: #e74c3c;
}

.banner-info-button .banner-info-watch.add .icon.green {
    color: #10ac84;
}

.banner-info-button .banner-info-watch.favourite:hover .icon{
    color: #82C3EC;
} 