.header {
    width: 100%;
    height: 70px; 
    position: fixed;
    background-color: transparent;
    top: 0; 
    z-index: 99;
    /* transition: 0.2s ease-in-out; */
}

.header.scrolled {
    background: linear-gradient(135deg, #06182b8a, #06182b3e);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
     
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    transition: 0.1s ease;
}

.nav {
    width: 75%;
    height: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    float: 1;
    cursor: pointer;
}

.brand .logo {
    color: #82C3EC;
    font-size: 40px;
    text-shadow: 5px 5px 5px #000000;
}

.brand-name {
    user-select: none;
    color: #fff;
    display: flex;
    font-size: 26px;
    align-items: center;
    text-shadow: 5px 5px 5px #000000;
}

.search {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.search .search-input {
    width: 100%;
    height: 70%;
    /* background-color: rgba(54, 52, 67, 0.9); */
    background: linear-gradient(135deg, #06182bb2, #040f1b63);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    padding-right: 60px;
    padding-left: 20px;
    outline: none;
    font-size: 18px;
    color: rgb(232, 232, 232);
}

.search .search-icon {
    position: absolute;
    /* top: 50%; */
    right: 0px;  
    width: 50px; 
    padding: 10px;
    height: 70%;
    cursor: pointer;
    border-radius: 50%;
    /* background-color: rgb(54, 52, 67); */
    color: #535353;
    transition: 0.3s;
}

.search .search-icon:hover {
    color: #fff; 
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);  */
    transition: 0.5s;
}
 
.sign {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    user-select: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer; 
    border-radius: 50px;
    transition: 0.5s;
}

.signin {
    margin-left: 15px;
    /* background-color: #EB455F; */
    background: linear-gradient(135deg, #fa3c58c7, #c70a2686);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

.signup:hover { 
    color: #82C3EC;
    transition: 0.1s;
}

.signin:hover { 
    background-color: #c11b34;
    transition: 0.3s;
}

.user {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-user {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer; 
    position: relative;
    
}

.user-avater {
    width: 40px;
    height: 40px; 
    object-fit: cover;
    border-radius: 50%; 
}

.header-user .drop-icon {
    color: #fff;
    margin-top: 30px;
    font-size: 40px;
}

.header-user:hover .drop-icon { 
    color: #82C3EC;
    transition: 0.3s;
}

.user-list {
    position: absolute;
    width: 0; 
    padding: 10px;
    top: 100%;
    right: 0;
    border-radius: 10px;
    z-index: 99;
    opacity: 0;
    visibility: hidden; 
    transition: 0.3s ;
    overflow: hidden;
 
    background-image: linear-gradient(135deg, #0d2033d7, #053364d3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.header-user .user-list.active {
    width: 300px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ;
}

.user-list-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 0;
    transition: 0.4s;
    color: rgb(232, 232, 232);
    overflow: hidden;
    /* background-color: #82C3EC; */
}

.user-list-item .user-icon {
    font-size: 30px;
    margin-right: 20px;
}

.user-list-item:hover {
    background-color: #82C3EC;
    color: #000;
    transition: 0.2s;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #82c3ec38;
    margin: 10px 0;
} 

.header-list {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-list-item {
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s; 
    position: relative;
    text-shadow: 0 0 7px #000000b6;
}

.header-list-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header-list-item:hover {
    border-bottom: 2px solid #fff;
    transition: 0.2s;
}

.header-list-item span {
    color: #fff;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.genre-list {
    position: absolute;
    min-width: 500px;
    height: 0; 
    background-color: #0A2647;
    z-index: 99;
    padding: 0px;
    top: calc(100% + 2px);
    border-radius: 5px;
    z-index: 100;
    transition: 0.3s ;
    overflow: hidden;
    text-align: left; 
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 5px;
    grid-template-rows: auto auto auto auto;
    /* overflow: hidden; */
    /* overflow-y: auto; */
}

.header-list-item:hover .genre-list {
    padding: 10px;
    height: 300px;
    transition: 0.5s ;
}

.genre-head {
    display: inline;
}

.genre-item {
    display: flex;
    align-items: center;
    justify-content: left;
    user-select: none;
    color: rgb(187, 187, 187);
    text-align: center;
    height: 30px;
    padding-left: 10px;
}

.genre-item:hover {
    transition: 0.2s;
    color: #91d1f9;
    font-style: bold;
}