.header {
    width: 100%;
    height: 70px; 
    position: fixed;
    background-color: transparent;
    top: 0; 
}

.header.scrolled {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.06));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    /* border:1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
}

.nav {
    width: 80%;
    height: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    float: 1;
    cursor: pointer;
}

.brand .logo {
    color: #82C3EC;
    font-size: 40px;
}

.brand-name {
    user-select: none;
    color: #fff;
    display: flex;
    font-size: 26px;
    align-items: center;
}