.trailer-content {
    position: relative;
    padding-top: 70px;
    width: 100%;
    height: calc(100vh);
    z-index: 2;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
 

.trailer-quit { 
    width: 100vw;
    height: 60px;
    position: absolute;
    z-index: 2;
    top: 0;
    /* right: 20px; */
    display: flex;
    align-items: center;
    justify-content: right; 
    /* border: 2px solid #fff; */
    /* border-radius: 50%; */
    background-color: #000;
}

.trailer-quit-icon { 
    width: 40px;
    height: 40px;  
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%; 
}


.trailer-quit-icon .icon{
    color: #fff;
}

.trailer-quit-icon:hover { 
    background-color: #fff;
    transition: 0.2s linear;
}

.trailer-quit-icon:hover .icon{
    color: #000;
    transition: 0.2s linear;
}