.cast .slider {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cast .cast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 2/3;
    background-color: #0A2647;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
    box-shadow: rgba(0, 0, 0, 0.708) 0px 20px 30px -10px;
}

.cast-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: 0.2s;
    background-image: linear-gradient(#06182b00 ,#040f1cb3 90%);
}

.cast .cast-item:hover::before { 
    background-image: linear-gradient(#06182b5d ,#040f1cc8 90%);
    transition: 0.2s;
}

.cast-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    text-align: left;
}

.cast-info span {
    color: #fff;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.cast-info-title {
    font-size: 20px;
    font-weight: 600;
}

.cast-info-original-title {
    font-weight: 100;
    font-size: 16px;
}