.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vmin;
    /* background-color: aliceblue; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 2/1;
}

.banner::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #06182b6f;
    background-image: linear-gradient(#06182b00, #06182b3b ,#06182b 99%);
    
}

.banner-content {
    width: 70%;
    /* min-height: 80%; */
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    /* background-color: aliceblue; */
}

.banner-poster {
    /* width: 270px; */
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(18, 23, 28) 0px 20px 30px -10px;
}

.banner-poster img {
    /* width: 100%; */
    object-fit: cover;
    height: 100%; 
    user-select: none;
}

.banner-info {
    width: 65%; 
    /* height: 600px;
    padding: 50px 0; */
    text-align: left;
}
 

.banner-info-title { 
    font-size: 45px;
    color: #fff;
    font-weight: 500;
    text-shadow: 5px 5px 5px #000000;
    display: block;
    user-select: none;
}

.banner-info-original-title {
    font-size: 30px;
    /* margin-left: 10px; */
    color: rgb(255, 255, 255);
    font-weight:200;
    display: block;
    user-select: none;
    text-shadow: 1px 1px 100px #000000;
}

.banner-info-tag {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.banner-info-tag span {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 20px; 
    margin-right: 10px;
    border-radius: 50px;
    box-shadow: rgb(18, 23, 28) 0px 20px 30px -10px;
}

.banner-info-tag-type {
    color: #000;
    letter-spacing: 2px;
    user-select: none; 
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.banner-info-tag-trend {
    /* background-color: #1abc9c; */
    color: #000;
    letter-spacing: 2px;
    user-select: none;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.banner-info-tag-rating {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    letter-spacing: 2px;
    color: #000;
    user-select: none;
}

.banner-info-tag-continue {
    background-color: #FF9A8B; 
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    color: #000;
    user-select: none;
}

.banner-info-tag-continue .dot {
    font-size: 30px;
}

.banner-info-overview {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(215, 215, 215);
    text-align: justify;
    user-select: none;
}

.banner-info-button {
    margin-top: 80px; 
}

.banner-info-button .button{ 
    font-size: 22px;
    padding: 15px 25px;
    margin-right: 15px;
    text-transform: uppercase;
    border-radius: 10px; 
    cursor: pointer;
    user-select: none;
    transition: 0.4s;
    letter-spacing: 4px; 
    display: inline-flex;
    align-items: center;
}

.banner-info-watch {
    background-color: #ecf0f1;
    box-shadow: rgb(18, 23, 28) 0px 20px 30px -10px;
}

.banner-info-watch:hover {
    color: #82C3EC;
    background-color: #06182b;
    transition: 0.2s;
}

.banner-info-detail {
    color: #fff;
    font-weight: 500; 
    text-shadow: 5px 5px 5px #000000;
}

.banner-info-detail .arrow {
    font-size: 35px;
}

.banner-info-detail:hover {
    color: #82C3EC;
    transition: 0.2s;
}