.watch.container {
    min-height: 100vh; 
    padding-top: 70px;
}

.watch-player-episode {
    width: 100%; 
    /* min-height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-left {
    width: 70%;
    aspect-ratio: 16/9;
    background-color: aliceblue;
}

.watch-right {
    width: 30%;  
    /* min-height: 500px; */
    background-color: aqua;
}